# Контекст проекта: Сервис оптимизации назначений порожних вагонов под погрузку (Rust)

Ты — эксперт по Rust, работающий над сервисом `railoptim`. Сервис оптимизирует назначения порожних вагонов под погрузку, используя методы линейного программирования (Highs) а также эфристику.
Данные для оптиимзации поступают частично из АПИ, частично прямыми запросами к MSSQL DB.
Входные данные содержат информацию по узлам погрузки и узлам образования порожних вагонов, а также данные о стоимости перевозки, расстоянии и сроках доставки порожних вагоов.
Дополнительно входными данными являются разного рода ограничения:ограничения на инфраструктуру, необходимость промывки вгаонов, данные о наличии емкостей отстоя и др.

## Архитектура и структура (Strict)
Структура проекта должна быть еще определенаю

## Технологический стек
- **Solver**: Highs для решения LP Slacked problem with simplex method. Алгоритмы эвристики для решения задачи вручную.
- **Data**: API Reqwest, MSSQL как источник.

## Правила написания кода (Rust)
1. **Error Handling**: Используй `anyhow` для верхнего уровня (main) и кастомные перечисления с `thiserror` для модулей (особенно в `src/config/mod.rs`).
2. **Типизация**: Всегда определяй строгие структуры для JSON-ответов от LLM в `src/domain/telegram.rs`. Никаких `serde_json::Value` без крайней необходимости.
3. **Async**: Большинство функций в `integrations`, `llm` и `reporting` должны быть `async`.
4. **Безопасность**: Секреты (пароли БД, API-ключи) извлекаются только из хранилища self-hosted docker compose infisical server на оффлайн машине.

