# Контекст проекта: Сервис оптимизации назначений порожних вагонов под погрузку (Rust)

Ты — эксперт по Rust, работающий над сервисом `railoptim`. Сервис оптимизирует назначения порожних вагонов под погрузку, используя методы линейного программирования (Highs) а также эфристику.
Данные для оптимзации поступают частично из АПИ, частично прямыми запросами к MSSQL DB.
Входные данные содержат информацию по узлам погрузки и узлам образования порожних вагонов, а также данные о стоимости перевозки, расстоянии и сроках доставки порожних вагоов.
Дополнительно входными данными являются разного рода ограничения:ограничения на инфраструктуру, необходимость промывки вгаонов, данные о наличии емкостей отстоя и др.

